@import "gruvbox.css";
/* @import "mocha.css"; */

* {
    /* reference the color by using @color-name */
    /* color: @red; */
    /* border: none; */
    /* border-radius: 3px; */
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Iosevka, monospace, Helvetica, Arial, sans-serif; */
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
    margin:  0px 0px 0px 0px ;
    /* padding: 0px  10px; */
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
}


#waybar {
    /* background: alpha(@crust, 0.8); */
    background: #000000; 
    /* background: alpha(@mantle, 0.88); */
    /* background: rgba(30, 30, 46, 0.5); */
    /* color: @pink; */
    /* margin: 0px 0px; */
    border-radius: 0px 0px 0px 0px;
}

window#waybar {
    /* you can also GTK3 CSS functions! */
    /* background-color: shade(@base, 0.9); */
    /* border: 0px solid alpha(@crust, 0.3); */
    /* border: none; */
    /* color: @subtext1; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    /* border-radius: 4px; */
    /* margin: 0px 1px; */
    /* padding: 0px 1px; */
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
}

#window {
    font-style: normal;
    padding: 0px 10px 0px 10px;
}

/* window#waybar.hidden { */
/*     opacity: 0.3; */
/* } */

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}*/


/* window#waybar.kitty { */
/*     background-color: @surface0; */
/* } */

/* window#waybar.qutebrowser { */
/*     background-color: #2; */
/*     border: none; */
/* } */
#workspaces {
    border-radius: 0px;
    background-color: transparent;
    /* border-color: transparent; */
    /* margin-left: 3px; */
    /* border-radius: 3px; */
    /* margin-left: 1rem; */
    /* margin-right: 0.3rem; */
}

#workspaces button {
    background-color: transparent;
    color: @blue;
    /* border-radius: 4px; */
    padding: 0px 10px; /*largura do modulo*/
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    margin: 0px 0px; /*crece largura alem do radio*/
    /* border-color: transparent; */

}

#workspaces button.active {
    background-color: transparent;
    /* border: none; */
    /* border-right: 1px; */
    /* border-color: #fff; */
    /* color: @crust;  */
    /* border-radius: 16px; */
    /* font-weight: bold; */
    color: @peach;
    /* border-radius: 2px; */
    /* border-top: 1px solid @peach; */
}

button:hover {
    background: transparent;
    color: @peach;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: transparent; */
    /* Avoid rounded borders under each button name */
    /* border: none; */
    /* background: transparent; */
    /* border-top: 0px solid @overlay2; */
    /* border: #fff; */
    /* border-radius: 0; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: @peach;
    background-color: transparent;
    border-color: transparent;
}
#workspaces button.persistent:hover {
    color: @peach;
}
#workspaces button.persistent {
    /* background-color: transparent; */
    color: @overlay2;
    /* font-family: JetBrainsMono Nerd Font; */
    /* font-style: normal; */
    /* border: none; */
    /* border-color: @overlay2; */
}
/* #workspaces button.occupied { */
/*     transition: none; */
/*     color: #F28FAD; */
/*     background: transparent; */
/*     font-size: 4px; */
/* } */
#workspaces button.empty:hover {
    color: @peach;
}
#workspaces button.empty {
    color: @teal;
}

#workspaces button.visible {
    background-color: transparent;
    color: #fff;
    /* border-bottom: 2px solid transparent; */
}

#workspaces button.urgent {
    background-color: @red;
}
#workspaces button.hidden {
    background-color: @green;
    /* background: transparent; */
    color: transparent;
    /* border: #fff; */
    /* border-top: 5px solid #fff; */
    /* border-color: #ddd; */
    /* border-width: 1px; */
    /* border-bottom: 2px solid transparent; */
}

#mode {
    background-color: @mantle;
    border: none;
    /* border-bottom: 2px solid #ffffff; */
}

#clock,
/* #battery, */
#custom-cava-internal,
/* #cpu, */
#memory,
#temperature,
/* #backlight, */
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
/* #temp_bsd, */
#weather,
#disk,
#onoffi,
#keyboard-state,
/* #meuclima, */
/**/
/* #meuclima { */
/*     color: #ffffff; */
/*     background: #000000; */
/* } */

/* #mpd { */
/*     padding: 0px 10px; */
/*     margin-left: 10px; */
/*     margin: 0px 5px; */
/*     color: #ffffff; */
/* } */

/* #window, */

/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */
/**/
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */
#temperature {
    /* background: @subtext0; */
    /* color: @base; */
    background-color: transparent;
    color: @surface2;
    /* border-radius: 4px; */
    padding: 0px 10px 0px 10px;
    /* font-style: normal; */
}
#disk {
    /* background-color: @surface0; */
    /* color: @mantle; */
    background-color: transparent;
    color: @surface2;
    padding: 0px 10px 0px 10px;
    font-style: normal;
    /* margin: 0px 5px; */
    /* padding: 0px 2px; */
    /* border-radius: 4px; */
}

#custom-weather {
    background-color: transparent;
    /* margin: 0px 1px; */
    padding: 0px 2px;
    color: @surface2;
}

/* #custom-temp_bsd { */
/*     background-color: #64727D; */
/*     margin: 0px 3px; */
/*     padding: 0 10px; */
/*     color: #fff; */
/* } */

#clock {
    /* background-color: alpha(@neutral_orange, 05); */
    background-color: transparent;
    color: @text;
    margin-right: 0px;
    /* border-radius: 6px 20px 20px 6px; */
    /* border-right: 100px; */
    font-weight: bold;
    /* margin: 0px 5px; */
    /* border-radius: 0px 0px 10px 0px; */
    padding-left: 0px;
    padding-right: 10px;
    font-style: normal;
    /* margin-right: 0px; */
    /* margin-left: 0px; */
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: @crust;
    }
}

label:focus {
    background-color: @crust;
}

#memory {
    /* background-color: @subtext1; */
    /* color: @base; */
    background-color: transparent;
    color: @surface2;
    padding: 0px 10px 0px 10px;
    font-style: normal;

    /* border-radius: 4px; */
}

#network {
    background-color: transparent;
    border-radius: 0px 0px 0px 0px;
    /* font-weight: bold; */
    padding: 0px 10px 0px 10px;
    margin-left: 0px;
    color: @surface1;
    font-style: normal;
}

#network.disconnected {
    background-color: transparent;
    border-radius: 4px;
    font-style: normal;
}

#pulseaudio {
    /* background-color: @surface1; */
    /* color: @crust; */
    background-color: transparent;
    color: @surface2;
    border-radius: 0px 0px 0px 10px;
    padding: 0px 10px 0px 10px;
    font-style: normal;
}

#pulseaudio.muted {
    background-color: @orange;
    color: @surface0;
    border-radius: 0px 0px 0px 10px;
    font-style: normal;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
    border-radius: 4px;
}

#tray {
    background-color: transparent;
    padding: 0px 10px 0px 10px;
}

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

#mpd {
    background-color: transparent;
    border-radius: 0px 0px 10px 0px;
    margin-left: 0px;
    padding: 0px 10px 0px 10px;
    color: @text;
}

#mpd.disconnected {
    background-color: transparent;
    border-radius: 0px 0px 10px 0px;
    color: @red;
    font-style: normal;
}

#mpd.stopped {
    background-color: transparent;
    border-radius: 0px 0px 10px 0px;
    color: @overlay2;
    font-style: normal;
    /* border-color: #ffffff; */
    /* border-width: 2px; */
}

#mpd.paused {
    background-color: transparent;
    border-radius: 0px 0px 10px 0px;
    color: @blue;
    font-style: normal;
}

#language {
    /* background: @text; */
    /* background-color: transparent; */
    /* background: alpha(@mantle, 0.60); */
    /* color: @base; */
    color: @surface0;
    padding: 0px 10px 0px 10px;
    /* margin: 0px 3px; */
    min-width: 10px;
    border-radius: 0px 0px 0px 0px; 
    margin-right: 0px;
    /* border-width: 0px 6px 0px 0px;  */
    /* border-radius: 6px; */
    /* border-radius: 4px; */
}

/* #custom-onoffi { */
/*     color: @bright_green; */
/*     padding: 0px 2px; */
/*     border-radius: 4px; */
/* } */

#keyboard-state {
    color: @surface2;
    background-color: transparent;
}
#keyboard-state label {
    color: @surface2;
    background-color: transparent;
}
#keyboard-state label.locked {
    color: #000;
    background-color: #00ff00;
    border-radius: 5px;
}

#custom-cava-internal {
    color: @text;
    background-color: transparent;
}

#custom-quit, 
#custom-lock,
#custom-reboot,
#custom-power {
	padding-left: 1px;
	padding-right: 15px;
	color: @teal;
	border-radius: 1px;
}

#custom-quit:hover, 
#custom-lock:hover, 
#custom-reboot:hover, 
#custom-power:hover {
	color: @peach;
	/* border: none; */
	background: transparent;
	/* transition: 5000ms cubic-bezier(0, 1, 0, 1); */
}

